<p id="notice"><%= notice %></p>

<h1>Listing Push Campaigns</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @push_campaigns.each do |push_campaign| %>
      <tr>
        <td><%= push_campaign.message%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New push campaign', new_push_campaign_path %>
